@font-face {
    font-family: 'Dancing Script'; 
    src: url('./fuentes/Dancing_Script/static/DancingScript-Regular.ttf') format('truetype'); /* Ruta a la fuente */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./fuentes/Montserrat-Regular.woff2') format('woff2'),
        url('./fuentes/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  body{
    margin: 0;
  }
  
  header {
    background-color: white;
    font-family: 'Century Gothic', sans-serif;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .arribaHeader {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start; /* Los elementos comienzan alineados a la izquierda */
    align-items: center; /* Asegura que estén alineados verticalmente */
    padding-left: 30px;
    padding-top: 10px;
  }
  
  .logo-header img {
    width: 800px;
    max-height: 100px;
    margin-bottom: 10px;
    object-fit: cover; /* Garantiza que la imagen se ajuste correctamente sin deformarse */
  }
  
  .iconofrase-container {
    display: flex;
    justify-content: space-between; /* Alinea el contenido en los extremos */
    align-items: center; /* Centra verticalmente los elementos si son de diferentes alturas */
    width: 100%; /* Ocupa todo el ancho posible */
    padding: 10px 0; /* Puedes ajustar el padding si es necesario */
  }
  
  .iconofrase-container p {
    padding-left: 340px;
    margin-top: -40px;
    font-size: 2.3em;
    color: #00988c;
    font-family: 'Dancing Script', cursive; /* Fuente caligráfica */
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre los elementos de la navegación */
    padding: 10px;
    width: 100%; /* Asegura que ocupe todo el ancho */
    position: relative;  /* Importante para que los elementos se posicionen correctamente */
    box-sizing: border-box;
}

.nav-container::before {
    content: ""; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0075a8, #2fa496, #0075a8);
    background-size: 200% auto;
    background-repeat: no-repeat;
    background-position: left center;
    z-index: -1;  /* Asegura que esté detrás de los enlaces */
    animation: gradientMove 5s ease infinite; /* Animación del fondo */
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin: 0;
    position: relative;  /* Necesario para la interactividad */
    font-family: 'Barlow Condensed', sans-serif;
}

@keyframes gradientMove {
    0% {
        background-position: 0% center;
    }
    50% {
        background-position: 100% center;
    }
    100% {
        background-position: 0% center;
    }
}


  .nav-item.active {
    color: white;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6), 
                 0px 0px 15px rgba(255, 255, 255, 0.6), 
                 0px 0px 15px rgba(255, 255, 255, 0.6); /* Triple sombra para efecto neón más intenso */
    transition: text-shadow 0.4s ease-in-out, color 0.4s ease-in-out;
  }
  
  @keyframes scroll {
      from {
          transform: translateX(100%);
      }
      to {
          transform: translateX(-100%);
      }
  }
  
  /* Estilos para oscurecer el fondo cuando se abre el modal */
  .modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
  }
  
  /* Contenido del modal */
  .modal-content {
    background-color: #1f775a;
    margin: 10% auto; /* Centramos el modal verticalmente */
    padding: 20px;
    border: 3px solid white;
    width: 80%;
    max-width: 400px; /* Ancho máximo */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }
  
  /* Cerrar modal con la "X" */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Botón de login y registro en los modales */
  .modal-content button {
    background-color: #ff842c; /* Color principal */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Century Gothic', sans-serif;
    width: 100%; /* Ocupa el ancho completo del modal */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s;
    font-size:  1em;
  }
  
  /* Input fields */
  
  /* Input fields */
  .modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    background-color: #1f775a;
    border: none; 
    border-bottom: 2px solid white; /* Mantén el borde inferior blanco */
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Century Gothic', sans-serif;
    color: white;
    font-size: 0.8em;
  }
  
  /* Elimina el borde cuando el input está enfocado */
  .modal-content input:focus {
    outline: none; /* Elimina el borde de enfoque que aparece al hacer clic */
  }
  /* Título del modal */
  .modal-content h2 {
    color: white;
    text-align: center;
    font-family: 'Century Gothic', sans-serif;
  }
  
  /* Oscurecer el fondo cuando el modal está abierto */
  body.modal-open {
    background-color: rgba(0, 0, 0, 0.2); /* Fondo oscuro al abrir el modal */
  }
  
  /* Ajustes de los labels en los formularios */
  .modal-content label {
    font-family: 'Century Gothic', sans-serif;
    color: white;
    margin-bottom: 5px;
    display: block;
    font-size:  1em;
  }
  .modal-content p{
    color: white;
    font-family: 'Century Gothic', sans-serif;
  }
  .modal-content p a{
    color: #ff842c;
    font: bolder, 'Century Gothic', sans-serif;
  }
  
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
  
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: -20px;
    font-style: bold;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(27, 104, 78);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 15px;
    width: 90%;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 2px, white;
  }
  
  footer {
    margin-top: 30px;
    color: black;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    background-color: transparent; /* Asegura que el color de fondo sea transparente */
}

footer::before {
    content: ""; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0075a8, #2fa496, #0075a8);
    background-size: 200% auto;
    background-repeat: no-repeat;
    background-position: left center;
    z-index: -1; /* Asegura que esté detrás del contenido */
    animation: gradientMove 5s ease infinite; /* Animación del fondo */
}

.footer-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    width: 600px;
    height: 150px;
    margin-top: -30px;
    margin-bottom: -40px;
}

.social-icons {
    margin-bottom: 5px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: auto;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.footer-credits {
    margin-top: 5px;
    font-size: 0.9em;
    color: white;
}

.footer-credits p {
    margin: 0;
}

@keyframes gradientMove {
    0% {
        background-position: 0% center;
    }
    50% {
        background-position: 100% center;
    }
    100% {
        background-position: 0% center;
    }
}
