body {
    margin: 0;
    font-family: 'Century Gothic', sans-serif;
}

img {
    height: 300px;
    object-fit: contain; /* Asegura que no se deformen */
    display: block;
    margin: 0 auto;
}

.page-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 0;
    box-sizing: border-box;
    margin-top: 80px;
}

.arriba {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.arriba h2 {
    text-align: center;
    margin-top: 4%;
    padding-right: 40px;
    margin-bottom: 0;
    font-size: 3rem;
    color: #0075a8;
    font-family: 'Barlow Condensed', sans-serif;
}

.arriba p {
    width: 98%;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    padding-right: 40px;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2%;
}

.arriba p .coloruno {
    color: #0075a8;
}

.arriba p .colordos {
    color: #2fa496;
}

.abajo {
    display: flex;
    gap: 50px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-top: -5%;
}

.abajo .aIzquierda,
.abajo .aDerecha {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/* Ya no necesitas esto porque img ahora está global */
.abajo .aIzquierda img,
.abajo .aDerecha img {
    height: 300px;
}

.imagen-con-texto {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.descripcion {
    font-size: 1.5rem;
    color: #333;
    font-family: 'Barlow Condensed', sans-serif;
    width: 100%;
}

/* Responsivo */
@media (max-width: 768px) {
    .abajo {
        flex-direction: column;
        align-items: center;
    }

    .abajo .aIzquierda,
    .abajo .aDerecha {
        width: 100%;
        margin-top: 20px;
    }

    .abajo .aIzquierda img,
    .abajo .aDerecha img {
        max-width: 90%;
    }

    .noticia {
        flex-direction: column;
        text-align: center;
    }

    .izquierda,
    .derecha {
        width: 100%;
    }
}
