.banner img{
    margin-top: 100px;
}

.container .subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.container h1 {
    font-family: 'Century Gothic', sans-serif;
    font-size: 2.5em;
    background: linear-gradient(to right, #0075a8, #2fa496, #0075a8);
    background-size: 200% auto;
    background-repeat: no-repeat;
    background-position: left center;
    text-align: center;
    margin-top: 20px;
    padding: 10px;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;

    animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% center;
    }
    50% {
        background-position: 100% center;
    }
    100% {
        background-position: 0% center;
    }
}

/* Contenedor global en dos columnas */
.main-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
    width: 84%; /* 84% del ancho de la pantalla, dejando un margen de 8% a cada lado */
    margin: 20px auto;
    padding: 0; /* Sin padding adicional */
    box-sizing: border-box;
}

/* Columna izquierda (contenido principal) */
.content-container {
    flex: 2;
    width: 65%; /* Ocupa el 65% del contenedor */
    padding: 10px;
    border-radius: 5px;
}

/* Columna derecha (sidebar) */
.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5%; /* Espacio entre los elementos */
    width: 30%; /* Ocupa el 30% del contenedor */
}

/* Agenda */
.agenda {
    height: 45%; /* Ocupa el 45% de la altura del contenedor */
    text-align: center;
    width: 100%; /* Ocupa el 100% del contenedor */
}

/* Promociones */
.promo {
    height: 80%; /* 80% de la altura */
    margin-top: 40px;
    text-align: center;
}

.promo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Títulos de agenda y promo */
.promo h2, .agenda h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    /* Para pantallas pequeñas, las columnas se apilan verticalmente */
    .main-columns {
        flex-direction: column;
        width: 84%; /* Asegura el 84% de ancho con márgenes de 8% */
    }

    .content-container, .right-column {
        width: 100%; /* Ambas ocupan el 100% del contenedor */
        margin-bottom: 20px; /* Espacio entre las secciones */
    }

    .agenda, .promo {
        width: 100%; /* Asegura que los elementos de agenda y promo ocupen todo el ancho */
        height: auto; /* Ajusta la altura a contenido */
    }
}

@media (max-width: 480px) {
    .promo img {
        max-width: 90%; /* Limita el tamaño de las imágenes a un 90% en pantallas muy pequeñas */
    }
}

#calendario {
    width: 100%; /* Ocupa todo el ancho del div agenda */
    height: 100%; /* Ocupa toda la altura del div agenda */
    background-color: #fff; /* Fondo blanco para contraste */
    padding: 10px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    box-sizing: border-box; /* Incluye padding y borde en el tamaño */
}

.fc-toolbar h2 {
    font-size: 1.4rem !important; /* Reducir tamaño del título del mes */
}

.fc-button {
    font-size: 0.8rem !important; /* Reducir tamaño de los botones de navegación */
    padding: 4px 8px !important;
    background-color: #ff842c !important;
}

.fc-daygrid-day-number {
    font-size: 0.7rem !important; /* Reducir tamaño de la fuente dentro de cada día */
    padding: 5px !important;
}

.fc-daygrid-day {
    font-size: 0.7rem !important; /* Reducir tamaño de la fuente en los días */
    padding: 5px !important; /* Reducir el padding de cada día */
}

.fc-daygrid-day.fc-day-today {
    background-color: #ff842c !important; /* Azul para el día actual */
    color: #fff !important; /* Texto blanco */
    font-weight: bold !important;
}

#calendario {
    width: 100%; /* Ocupa todo el ancho del div agenda */
    height: 100%; /* Ocupa toda la altura del div agenda */
    background-color: #fff; /* Fondo blanco para contraste */
    padding: 10px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    box-sizing: border-box; /* Incluye padding y borde en el tamaño */
    position: relative; /* Necesario para posicionar el eventoDetalle sobre él */
}

/* Estilo del contenedor de detalle del evento */
#eventoDetalle {
    display: none;
    position: absolute; /* Colocamos el detalle del evento sobre el calendario */
    top: 0;
    left: 0;
    width: 100%; /* Igual al ancho del calendario */
    height: 100%; /* Igual a la altura del calendario */
    background-color: rgba(31, 119, 90, 0.9); /* Fondo semi-transparente */
    border: 2px solid #114232;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* Lo coloca sobre el calendario */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño */
    overflow: auto; /* Permite el desplazamiento si el contenido es mayor que el contenedor */
}

/* Mostrar el detalle del evento cuando se enfoca (se activa con foco en #eventoDetalle) */
#eventoDetalle:focus-within {
    display: block; 
}

/* Títulos dentro del detalle del evento */
#eventoDetalle h3 {
    margin-top: 0;
    font-size: 1.4em;
    color: #ff842c;
}

/* Texto del detalle del evento */
#eventoDetalle p {
    margin: 10px 0;
    color: white;
}

/* Estilo del ícono de cierre */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #ff842c;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: #ff842c; /* Cambia el color al pasar el ratón */
}

/* Fuente Montserrat */
@font-face {
    font-family: 'Montserrat';
    src: url('./fuentes/Montserrat-Regular.woff2') format('woff2'),
         url('./fuentes/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Estilo global */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}

/* Encabezado principal */
h1 {
    font-family: 'Century Gothic', sans-serif;
    font-size: 2.5em;
    color: #ff842c;
    text-align: center;
    margin-top: 20px;
}

.container p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* Título sección */
h2 {
    font-size: 1.8em;
    color: #555;
    margin-top: 20px;
}

/* Listado */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 8px 0;
    font-size: 1.1em;
}

li a {
    text-decoration: none;
    color: white;
    background-color: #0075a8;
    display: block;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

li a:hover {
    background-color: #0075a8;
}

/* Enlace volver al índice */
.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 16px;
    color: white;
    background-color: #0075a8;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1em;
}

.back-link:hover {
    background-color: #145a3f;
}

/* Subcontenido (desplegable) */
.subcontent {
    display: none;
    background-color: #2fa496;
    color: black;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.subcontent.show {
    display: block;
}

/* Banner */
.banner {
    display: block;
    width: 90%;
    height: auto;
    margin: 40px auto;
    object-fit: cover;
}
